<% javascript_include_tag "user" %>

<div class="prfl-page">
  <div class="container">
    <div class="profile">
      <% if @ngo.photo %>
        <% avatar_url = @ngo.photo.gsub('square', 'large') %>
      <% else %>
        <% avatar_url = "http://placehold.it/200x200"%>
      <% end %>
      <div class="you">
          <h3>Your NGO:</h3>
      <div class="selfy">
        <%= image_tag avatar_url, class: 'profile-img' %>


        <h4> <%= @ngo.name %> </h4>
        <%= button_to "Delete NGO", { controller: "ngos", action: "destroy" }, method: :delete %>
      </div>
      </div>

      <div class="messages">
        <h3>Messages:</h3>
        <table class="table">
        <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index +=1 %></td>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td>
                <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                            "data-uid" => user.id, "data-nid" => @ngo.id %>
              </td>
            </tr>
        <% end %>
      </table>
      </div>

      <div class="big donations">
        <h3>Your donators:</h3>
        <div class="list">
          <% @donations.each do |d| %>
          <div class="card">
            <div class="card-body">
              <div class="content">
                <h4><%= d.user.first_name %></h4>
                <p><%= d.items %></p>
                <p><%= d.created_at %></p>
              </div>
              <%= image_tag("icons/#{Type.find(d.type_id).name.downcase}.png", class: "type") %>
              <%= button_to "Accept", 'donations#accept' %>
              <%= button_to "Reject", 'donations#reject' %>
            </div>

            <% case d.status  %>
            <% when 'done' %>
              <% notice = " done"  %>
            <% when 'failed' %>
              <% notice = " failed"  %>
            <% else %>
                <% notice = ' ' %>
            <% end %>

            <div class="card-notice<%= notice %>">

            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
