<%= content_for :title, "radar" %>
<!-- banner -->

<div class="homepage-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50%), url('http://ww2.kqed.org/bayareabites/wp-content/uploads/sites/24/2015/11/BAB-SF-Food-bank-1440x960.jpg');">
  <div class="banner-content">
    <h1>Find an organization to donate to</h1>
  <!-- map -->
    <div class="container">
      <div>
        <%= render 'shared/searchbar' %>
      </div>
    </div>
  </div>
</div>

<div class="banner-icons">
  <%= link_to ngos_path(type: "Books"), class: "filter-icon" do %>
    <div class="banner-icons-type grow <%= params[:type]=='Books' ? 'active': ''  %>"><%= image_tag("icons/books_200.png", :width=>50, :crop=>"fill", id: "books") %>
      <p class="hider">Books</p>
    </div>
  <% end %>
  <%= link_to ngos_path(:type => "Bycicles"), class: "filter-icon" do %>
    <div class="banner-icons-type grow <%= params[:type]=='Bycicles' ? 'active': ''  %>"><%= image_tag("icons/bicycles_200.png", :width=>50, :crop=>"fill", id: "bycicles") %></div>
      <p class="hider">Bicycles</p>
  <% end %>
  <%= link_to ngos_path(:type => "Clothes"), class: "filter-icon" do %>
    <div class="banner-icons-type grow <%= params[:type]=='Clothes' ? 'active': ''  %>"><%= image_tag("icons/clothes_200.png", :width=>50, :crop=>"fill", id: "clothes") %></div>
      <p class="hider">Clothes</p>
  <% end %>
  <%= link_to ngos_path(:type => "Furniture"), class: "filter-icon" do %>
    <div class="banner-icons-type grow <%= params[:type]=='Furniture' ? 'active': ''  %>"><%= image_tag("icons/furniture_200.png", :width=>50, :crop=>"fill", id: "furniture") %></div>
      <p class="hider">Furniture</p>
  <% end %>
  <%= link_to ngos_path(:type => "Food"), class: "filter-icon" do %>
    <div class="banner-icons-type grow <%= params[:type]=='Food' ? 'active': ''  %>"><%= image_tag("icons/food_200.png", :width=>50, :crop=>"fill", id: "food") %></div>
      <p class="hider">Food</p>
  <% end %>
  <%= link_to ngos_path(:type => "Electronics"), class: "filter-icon" do %>
  <div class="banner-icons-type grow <%= params[:type]=='Electronics' ? 'active': ''  %>"><%= image_tag("icons/electronics_200.png", :width=>50, :crop=>"fill", id: "electronics") %></div>
      <p class="hider">Electronics</p>
  <% end %>
  <%= link_to ngos_path(:type => "Other"), class: "filter-icon" do %>
  <div class="banner-icons-type grow <%= params[:type]=='Other' ? 'active': ''  %>"><%= image_tag("icons/other_200.png", :width=>50, :crop=>"fill", id: "other") %></div>
      <p class="hider">Other</p>
  <% end %>
</div>

<div id="results" class="main-index-container">
  <%= render 'shared/card' %>
  <%= render 'shared/map' %>
</div>




