<div class="homepage-banner" style="background-image: linear-gradient(-225deg, rgba(250,245,255,0.4) 0%, rgba(250,245,255,0.3) 50%), url('<%= image_path 'banner_homepage.jpg'%>');">
  <div class="banner-content">
    <h1>FIND NGO</h1>
    <div class="container">
      <div id="search-bar">
        <%= render 'layouts/searchbar' %>
      </div>
    </div>
  </div>
</div>

<div class="banner-icons">
  <%= link_to ngos_path(:type => "Books") do %>
    <div class="banner-icons-type"><%= image_tag("icons/books_200.png", :width=>30, :crop=>"fill", id: "books") %></div>
  <% end %>
  <%= link_to ngos_path(:type => "Bycicles") do %>
    <div class="banner-icons-type"><%= image_tag("icons/bycicle_200.png", :width=>30, :crop=>"fill", id: "bycicles") %></div>
  <% end %>
  <%= link_to ngos_path(:type => "Clothes") do %>
    <div class="banner-icons-type"><%= image_tag("icons/clothes_200.png", :width=>30, :crop=>"fill", id: "clothes") %></div>
  <% end %>
  <%= link_to ngos_path(:type => "Furniture") do %>
    <div class="banner-icons-type"><%= image_tag("icons/furniture_200.png", :width=>30, :crop=>"fill", id: "furniture") %></div>
  <% end %>
  <%= link_to ngos_path(:type => "Food") do %>
    <div class="banner-icons-type"><%= image_tag("icons/food_200.png", :width=>30, :crop=>"fill", id: "food") %></div>
  <% end %>
  <%= link_to ngos_path(:type => "electronics") do %>
  <div class="banner-icons-type"><%= image_tag("icons/electronics_200.png", :width=>30, :crop=>"fill", id: "electronics") %></div>
  <% end %>
  <%= link_to ngos_path(:type => "Other") do %>
  <div class="banner-icons-type"><%= image_tag("icons/box_200.png", :width=>30, :crop=>"fill", id: "other") %></div>
  <% end %>
</div>

<div class="main-index-container">
  <%= render 'layouts/card' %>
  <div id="map"></div>
</div>

<%= render 'layouts/map' %>
