<div class="homepage-banner" style="background-image: linear-gradient(-225deg, rgba(250,245,255,0.4) 0%, rgba(250,245,255,0.3) 50%), url('<%= image_path 'banner_homepage.jpg'%>');">
  <div class="banner-content">
    <h1>FIND NGO</h1>
    <div class="container">
      <div id="search-bar">
        <%= render 'layouts/searchbar' %>
      </div>
    </div>
  </div>
</div>

<div class="banner-icons">
  <div class="banner-icons-type"><%= image_tag("books.png", :width=>30, :crop=>"fill") %></div>
  <div class="banner-icons-type"><%= image_tag("bycicle.png", :width=>30, :crop=>"fill") %></div>
  <div class="banner-icons-type"><%= image_tag("clothes.png", :width=>30, :crop=>"fill") %></div>
  <div class="banner-icons-type"><%= image_tag("furniture.png", :width=>30, :crop=>"fill") %></div>
  <div class="banner-icons-type"><%= image_tag("food.png", :width=>30, :crop=>"fill") %></div>
  <div class="banner-icons-type"><%= image_tag("electronics.png", :width=>30, :crop=>"fill") %></div>
</div>

<div class="main-index-container">
  <%= render 'layouts/card' %>
  <div id="map"></div>
</div>

<%= render 'layouts/map' %>
