<%= render 'layouts/navbar' %>

<div class="main-index-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <% @ngos.each do |ngo| %>
        <% # if ngo.photos.nill? %>
        <% photo_url = image_path 'card_default.jpg' %>

        <% # else %>

        <% #photo_url = cl_image_path ngos.photos.first.path, height: 500, width: 400, crop: :fit  %>
        <% #end %>

        <%= link_to ngos_path(id: ngo.id) do %>
        <div class="card" style="background-image: url('<%= photo_url %>')">
          <div class="card-description">
            <%= ngo.name.upcase %>
          </div>
        </div>
        <% end %>

      <% end %>

      </div>
    </div>
  </div>
  <div id="map"></div>
</div>

<%= render 'layouts/map' %>
