<!-- #ngo title -->
<div class="ngo-show-page">
  <div class="container">

    <%= render 'layouts/ngo_banner' %>

    <div class="grid">
      <div class="description">
        <p><b><%= @ngo.name %></b></p>
        <p><%= @ngo.address %></p>
        <p>Founded in 1989 in Lisbon, Portugal by Manuel and Ana. We want to help give food to those in need.</p>
      </div>
      <div class="ngo-map">
        <div id="map"></div>
      </div>
      <div class="ngo-icons">
        <p><b>We are looking for:</b></p>
        <%= image_path 'icons/book.svc' %>

      </div>
      <div class="ngo-donate">
        <p>Donate Form</p>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/map' %>
