<% content_for :title, "#{@ngo.name} | radar" %>

<!-- #ngo title -->
<div class="ngo-show-page">
  <div class="container">

    <%= render 'shared/ngo_banner' %>
    <div class="grid-container">
      <div class="grid">
        <div class="description">
          <p><b>Who we are:</b></p>
          <p><b><%= @ngo.name %></b></p>
          <p><%= @ngo.address.capitalize %></p>
          <hr class = "border-line"/>
          <p><b>Who we help:</b></p>
          <p><%= @ngo.description %></p>
        </div>

        <div class="ngo-icons">

          <p><b>What we're looking for:</b></p>
          <div class="icon-box">

            <% @ngo.types.each do |type| %>
            <div class="ngo-icon-item" class="text-center">
              <%= image_tag("icons/#{type.name.downcase}.png", :width=>50, :crop=>"fill", class: "text-center") %>
              <p id="ngo-icon-name"><%= "#{type.name.downcase}" %></p>
            </div>
            <% end %>

          </div>

          <hr class = "border-line"/>

          <p><b>Our history:</b></p>
          <p><%= @ngo.description %></p>

        </div>



        <div class="ngo-donate">
          <div class="text-center">
            <p>Make your donation here<%= current_user.first_name.nil? ? " " : "," + current_user.first_name unless current_user.nil? %></p>
            <div class="row">
              <div class="donate-form form-group">

              <%= render 'shared/ngo_show_donation_form' %>

              </div>
            </div>
          </div>
        </div>



        <div class="ngo-map">
          <%= render 'shared/ngo_show_map' %>
        </div>
      </div>
    </div>
  </div>
</div>


