<div class="prfl-page">
  <div class="container">
    <div class="profile">
    <% avatar_url = @user.facebook_picture_url.gsub('square', 'large') || "http://placehold.it/200x200"%>
      <div class="self">
        <%= image_tag avatar_url, class: 'profile-img' %>


        <h4> <%= @user.first_name %> <%= @user.last_name %> </h4>
      </div>

      <div class="donations">
        <div class="scrollbar">
          <% @donations.each do |d| %>
            <div class="card">
              <h4><%= d.items %></h4>
              <p><%= d.comments %></p>
              <div class="type"><%= cl_image_tag("#{Type.find(d.type_id).name}_png") %></div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="messages">
        Messages
      </div>

    </div>
  </div>
</div>
