<div class="prfl-page">
  <div class="container">
    <div class="profile">
      <div class="self">
        <%= image_tag 'logo', class: 'profile-img' %>

        <h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
      </div>

      <div class="donations">
        <div class="scrollbar">
          <% @donations.each do |d| %>
            <div class="card">
              <h4><%= d.items %></h4>
              <p><%= d.comments %></p>
              <div class="type"><%= image_tag Type.find(d.type_id).name %></div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="messages">
        Messages
      </div>
    </div>
  </div>
</div>
