<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @ngos.each do |ngo| %>
        <% unless ngo.photo.nil? %>
          <% photo_url = image_path ngo.photo %>
        <% else %>
          <% photo_url = "http://res.cloudinary.com/dsmei8zni/image/upload/v1510934787/default.jpg" %>
        <% end %>

        <% string = "card " %>
        <% ngo.types.each do |type| %>
        <% string += type.name.downcase + " " %>
        <% end %>

      <%= link_to ngo_path(id: ngo.id) do %>

      <div class="<%= string %>">
        <div class="card-image" style="background-image: url('<%= photo_url %>')">

        </div>
        <div class="card-content">
          <h5><%= ngo.name.upcase %></h5>
          <p><%= ngo.description %>
        </div>
      </div>
      <% end %>

      <% end %>

    </div>
  </div>
</div>
