<% content_for :title, "Donate to #{@ngo}" %>

<div class="donations-new">
  <div class="container" >
    <%= render "shared/ngo_banner" %>

    <div class="grid-container">
      <div class="grid">
        <div class="donation-map">
          <%= render "shared/ngo_show_map" %>
        </div>
        <div class="box">
          <h2>Confirm your Donation</h2>
          <p>And provide us following information please:</p>
          <%= simple_form_for [@ngo, @donation] do |f|  %>
          <%= Type.find(params[:type_id]).name %>
          <%= f.input :items  %>
          <%= f.input :comments %>
          <%= f.input :type_id, as: :hidden, input_html: { value: params[:type_id] }%>
          <%= f.input :schedule, as: :string, input_html: { :class => "datepicker", :value => params[:date] }  %>
          <%= f.input :address, input_html: { value: @ngo.address } %>
          <%= f.submit %>
          <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

