<% content_for :title, "Donate to #{@ngo.name}" %>

<div class="donations-new">
  <div class="container" >
    <%= render "shared/ngo_banner" %>

    <div class="grid-container">
      <div class="grid">
        <div class="donation-map">
          <%= render "shared/ngo_show_map" %>
        </div>
        <div class="box">
          <h2>Confirm your Donation</h2>
          <%= simple_form_for [@ngo, @donation] do |f|  %>
          <%= @type.name %>
          <p><br>And provide us following information please:</p>
          <%= f.input :items %>
          <%= f.input :comments %>
          <%= f.input :type_id, as: :hidden, input_html: { value: params[:type_id] }%>
          <%= f.input :schedule, as: :string, input_html: { :class => "datepicker", :value => params[:date] }  %>
          <p><strong>Please select preferred time to Drop Off/ Pick Up</strong></p>

          <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon" value="From 9am to 7pm"><i class="glyphicon glyphicon-time" ></i></span>
          </div><br>


          <%= f.input :address, input_html: { value: @ngo.address } %>
          <%= f.submit class: 'btn btn-primary'%>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

