
<div class="donations-new">
  <div class="container" >
    <%= render "shared/ngo_banner" %>

    <div class="grid-container">
      <div class="grid">
        <div class="donation-map">
          <div id="donation-show-map"></div>
        </div>
        <div class="box">
          <h2>Confirm your Donation</h2>
          <p>You have selected following items to donate: </p>
          <%= simple_form_for [@ngo, @donation] do |f|  %>
          <%= f.input :items  %>
          <%= f.input :comments %>
          <%= f.input :type_id,  as: :hidden, input_html: { value: "#{params[:type_id]}" }%>
          <%= f.input :schedule, input_html: { value: "#{params[:date]}"} %>
          <%= f.input :address,  as: :hidden, input_html: { value: "#{[@ngo.address]}" } %>
          <%= f.submit %>
          <% end %>
          
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('donation-show-map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
  </script>